fastapi
uvicorn
langchain
langchain-ollama
langchain-core
langgraph
python-dotenv
pydantic
slowapi
httpx
langchain-chroma
chromadb
langchain-community
pypdf
langchain-google-genai
langchain-text-splitters
python-multipart
langchain-huggingface 
sentence-transformers